.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.home-image {
  width: 30%;
  object-fit: cover;
  padding-top: 0px;
  padding-top: 50px;

}
@media(max-width: 991px) {
  .home-image {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .home-image {
    width: 60%;
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;

  }
  
}
